@{
    ViewData["Title"] = Routers.CreateCategory.Title;
    var name = new FormField() { Label = "Category Name", Field = "name" };
    var descirption = new FormField() { Label = "Description", Field = "description" };
}

<div>
    <form method="post" action="/category/create">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", descirption)
        <button>Create</button>
    </form>
</div>