@{
    ViewData["Title"] = Routers.CreateProduct.Title;
    var name = new FormField() { Label = "Product Name", Field = "name" };
    var descirption = new FormField() { Label = "Description", Field = "description" };
    var originalPrice = new FormField() { Label = "Original Price", Field = "originalPrice" };
    var retailPrice = new FormField() { Label = "Retail Price", Field = "retailPrice" };
    var quantity = new FormField() { Label = "Quantity", Field = "quantity" };
    var categoryId = new FormField() { Label = "Category ID", Field = "categoryId" };
}

<div>
    <form method="post" action="/product/create">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", descirption)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", originalPrice)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", retailPrice)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", quantity)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", categoryId)
        <button>Create</button>
    </form>
</div>