@using Backend.Views.ViewModel
@using Backend.Utils.Common
@{
    ViewData["Title"] = Routers.CreateProduct.Title;
    var name = new TextField() { Label = "Product Name", Field = "name" };
    var descirption = new TextField() { Label = "Description", Field = "description" };
    var originalPrice = new TextField() { Label = "Original Price", Field = "originalPrice" };
    var retailPrice = new TextField() { Label = "Retail Price", Field = "retailPrice" };
    var quantity = new TextField() { Label = "Quantity", Field = "quantity" };
    var categoryId = new TextField() { Label = "Category ID", Field = "categoryId" };
}

<div>
    <form method="post" action="/product/create">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", descirption)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", originalPrice)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", retailPrice)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", quantity)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", categoryId)
        <button>Create</button>
    </form>
</div>