@{
    ViewData["Title"] = Routers.DeleteCategory.Title;
    var categoryId = new FormField() { Label = "Category ID", Field = "categoryId" };
}

<div>
    <form method="POST" action="/category/delete">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", categoryId)
        <button>Delete</button>
    </form>
</div>