@{
    this.ViewData["Title"] = Routers.Home.Title;
    var products = (List<Product>)this.ViewData["products"];


    var categories = (SelectList)this.ViewData["categories"];
    var min = (string) this.Context.Request.Query["min"];
    var max = (string) this.Context.Request.Query["max"];
    var name =(string)  this.Context.Request.Query["name"];
    var categoryId = (string)  this.Context.Request.Query["categoryId"];
}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        @await Html.PartialAsync("../Components/Navbar/NavbarSide.cshtml")
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->

            <!-- END: Top Bar -->

            <div class="grid grid-cols-12 gap-5 mt-5 pos intro-y">
                <!-- BEGIN: Item List -->
                <div class="col-span-12 intro-y lg:col-span-8">
                     <form id="tabulator-html-filter-form" >
                        <div class="flex items-end space-x-2">
                            <div class="space-y-2">
                                <label>Name</label>
                                @await Html.PartialAsync("../Components/Form/TextField.cshtml", new {Label="Name",
                                Field="name",Type="text", Value=name})
                            </div>
                            <div class="space-y-2">
                                <label>Min Price</label>
                                @await Html.PartialAsync("../Components/Form/TextFieldNumber.cshtml", new {Label="Min price",
                                Field="min",Step="0.01", Value=min})
                            </div>
                            <div class="space-y-2">
                                <label>Max Price</label>
                                @await Html.PartialAsync("../Components/Form/TextFieldNumber.cshtml", new {Label="Max price",
                                Field="max",Step="0.01", Value=max})
                            </div>
                            <div class="space-y-2"> 
                                <label>Category</label>
                                @await Html.PartialAsync("../Components/Form/SelectList.cshtml", new {Label="Max price",
                                Values=categories, Value=categoryId, Field="categoryId"})
                            </div>
                            <div class="flex items-end">
                                <button class="mb-2 btn btn-primary"> 
                                    <i data-feather="search" class="w-5 h-5"></i> 
                                </button>
                                    
                            </div>
                        </div>
                    
                    </form>
                    <div class="grid grid-cols-12 gap-5 pt-5 mt-5 border-t border-theme-5">

                        @foreach (var item in products)
                        {
                            <button type="button" class="block col-span-4 intro-y md:col-span-2 ">
                                <div class="relative p-3 rounded-md duration hover:bg-blue-200 box">
                                    <div class="relative flex-none block pos-image">
                                        <div class="pos-image__preview image-fit">
                                            <img alt="Rubick Tailwind HTML Admin Template" src="https://picsum.photos/300">
                                        </div>
                                    </div>
                                    <div class="block mt-3 font-medium text-center truncate">@item.Name</div>
                                    <div class="block mt-3 font-medium text-center truncate">$@item.RetailPrice</div>
                                </div>
                            </button>
                        }
                    </div>

                </div>
                <!-- END: Item List -->
                <!-- BEGIN: Ticket -->
                <div class="col-span-12 lg:col-span-4">
                    <div class="pr-1 intro-y">
                        <div class="p-2 box">
                            <div class="justify-center pos__tabs nav nav-tabs" role="tablist"> <a id="ticket-tab"
                                    data-toggle="tab" data-target="#ticket" href="javascript:;"
                                    class="flex-1 py-2 text-center rounded-md" role="tab" aria-controls="ticket"
                                    aria-selected="false">My Cart</a> </div>
                        </div>
                    </div>
                    <div class="tab-content">


                    </div>
                </div>
                <!-- END: Ticket -->
            </div>
            <!-- BEGIN: New Order Modal -->
            <div id="new-order-modal" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h2 class="mr-auto text-base font-medium">
                                New Order
                            </h2>
                        </div>
                        <div class="grid grid-cols-12 gap-4 modal-body gap-y-3">
                            <div class="col-span-12">
                                <label for="pos-form-1" class="form-label">Name</label>
                                <input id="pos-form-1" type="text" class="flex-1 form-control"
                                    placeholder="Customer name">
                            </div>
                            <div class="col-span-12">
                                <label for="pos-form-2" class="form-label">Table</label>
                                <input id="pos-form-2" type="text" class="flex-1 form-control"
                                    placeholder="Customer table">
                            </div>
                            <div class="col-span-12">
                                <label for="pos-form-3" class="form-label">Number of People</label>
                                <input id="pos-form-3" type="text" class="flex-1 form-control" placeholder="People">
                            </div>
                        </div>
                        <div class="text-right modal-footer">
                            <button type="button" data-dismiss="modal"
                                class="w-32 mr-1 btn btn-outline-secondary">Cancel</button>
                            <button type="button" class="w-32 btn btn-primary">Create Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: New Order Modal -->
            <!-- BEGIN: Add Item Modal -->

            <!-- END: Add Item Modal -->
        </div>
        <!-- END: Content -->
    </div>

</div>