@using Backend.Views.ViewModel
@using Backend.Utils.Common
@{
    ViewData["Title"] = Routers.Login.title;
    var username = new TextField() { Label = "Username", Field = "username" };
    var password = new TextField() { Label = "Password", Field = "password" };
}

<div>
    <form method="post" action="/auth/login">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", username)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", password)
        <button>Login</button>
    </form>
</div>