@using backend.Views.ViewModel
@using backend.Utils.Common
@{
    ViewData["Title"] = Routers.Login.title;
    var username = new TextField() { label = "Username", field = "username" };
    var password = new TextField() { label = "Password", field = "password" };
}

<div>
    <form method="post" action="/auth/login">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", username)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", password)
        <button>Login</button>
    </form>
</div>