@using Backend.Views.ViewModel
@using Backend.Utils.Common
@{
    ViewData["Title"] = Routers.Register.title;
    var username = new TextField() { Label = "Username", Field = "username" };
    var password = new TextField() { Label = "Password", Field = "password" };
    var name = new TextField() { Label = "Name", Field = "name" };
    var confirmPassword = new TextField() { Label = "Confirm Password", Field = "confirmPassword" };
    var email = new TextField() { Label = "Email", Field = "email" };
    var address = new TextField() { Label = "Address", Field = "address" };
    var phone = new TextField() { Label = "Phone", Field = "phone" };
}

<div>
    <form method="post" action="/auth/register">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", username)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", password)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", confirmPassword)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", address)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", phone)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", email)
        <button>Regsiter</button>
    </form>
</div>