@using backend.Views.ViewModel
@using backend.Utils.Common
@{
    ViewData["Title"] = Routers.UpdatePassword.title;
    var oldPassword = new TextField() { label = "Old Password", field = "oldPassword" };
    var newPassword = new TextField() { label = "New Password", field = "newPassword" };
    var confirmNewPassword = new TextField() { label = "Confirm New Password", field = "confirmNewPassword" };
}

<div>
    <form method="post" action="/user/password">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", oldPassword)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", newPassword)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", confirmNewPassword)
        <button>Update</button>
    </form>
</div>