@using Backend.Views.ViewModel
@using Backend.Utils.Common

@{
    ViewData["Title"] = Routers.UpdatePassword.title;
    var oldPassword = new TextField() { Label = "Old Password", Field = "oldPassword" };
    var newPassword = new TextField() { Label = "New Password", Field = "newPassword" };
    var confirmNewPassword = new TextField() { Label = "Confirm New Password", Field = "confirmNewPassword" };
}

<div>
    <form method="post" action="/user/password">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", oldPassword)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", newPassword)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", confirmNewPassword)
        <button>Update</button>
    </form>
</div>