@{
    ViewData["Title"] = Routers.UpdateCategory.Title;
    var categoryId = new FormField() { Label = "Category ID", Field = "categoryId" };
    var name = new FormField() { Label = "Category Name", Field = "name" };
    var descirption = new FormField() { Label = "Description", Field = "description" };
}

<div>
    <form method="POST" action="/category/update">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", categoryId)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", descirption)
        <button>Update</button>
    </form>
</div>