@using Backend.Views.ViewModel
@using Backend.Utils.Common

@{
    ViewData["Title"] = Routers.UpdatePassword.Title;
    var name = new TextField() { Label = "Name", Field = "name" };
    var email = new TextField() { Label = "Email", Field = "email" };
    var address = new TextField() { Label = "Address", Field = "address" };
    var phone = new TextField() { Label = "Phone", Field = "phone" };
}

<div>
    <form method="post" action="/user/info">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", address)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", phone)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", email)
        <button>Update</button>
    </form>
</div>