@using Backend.Views.ViewModel
@using Backend.Utils.Common
@{
    ViewData["Title"] = Routers.UpdateCategory.title;
    var categoryId = new TextField() { Label = "Category ID", Field = "categoryId" };
    var name = new TextField() { Label = "Category Name", Field = "name" };
    var descirption = new TextField() { Label = "Description", Field = "description" };
}

<div>
    <form method="POST" action="/category/update">
        <p>
            @ViewData["errorMessage"]
        </p>
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", categoryId)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", name)
        @await Html.PartialAsync("~/Views/Components/TextFiled.cshtml", descirption)
        <button>Update</button>
    </form>
</div>