@{
    ViewData["Title"] = Routers.UpdateUserInfo.Title;
    User user = (User)ViewData["user"];

    var name = new FormField() { Label = "Name", Field = "name", Type = "text", Value = user.Name };
    var email = new FormField() { Label = "Email", Field = "email", Type = "text", Value = user.Email };
    var address = new FormField() { Label = "Address", Field = "address", Type = "text", Value = user.Address };
    var phone = new FormField() { Label = "Phone", Field = "phone", Type = "text", Value = user.Phone };
    var updateUserBtn = new FormField() { Label = "Update User Information" };
}



<div class="flex items-center justify-center flex-1 ">
    <form method="post" action="@Routers.UpdateUserInfo.Link"
        class="flex-1 px-4 py-16 mx-2 space-y-8 bg-white rounded-md shadow-lg md:mx-0 md:w-96 bg-opacity-90 md:flex-none fade-in">
        <h1 class="text-4xl font-semibold text-center">Update Information</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div class="space-y-4">
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", address)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", phone)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", email)
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", updateUserBtn)
    </form>
</div>