@{
    this.ViewData["Title"] = Routers.Category.Title;

}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <div class="max-w-sm mt-5 intro-y box">
                <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                    <h2 class="mr-auto text-base font-medium">
                        Chanage Password
                    </h2>
                </div>
                <form id="updatePasswordForm" class="p-5 space-y-4">
                    <div class="space-y-2 preview">
                        @await Html.PartialAsync("../../Components/Form/FormMessage.cshtml")
                        <div>
                            <label>Old Password</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml", new
                            {Label="Old password",
                            Field="oldPassword",Type="password", Value=""})
                        </div>
                        <div>
                            <label>New Password</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="New password",
                            Field="newPassword",Type="password", Value=""})
                        </div>
                        <div>
                            <label>Confirm New Password</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="Confirm new password",
                            Field="confirmNewPassword",Type="password", Value=""})
                        </div>

                    </div>

                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml","Update Password")
                </form>


            </div>
        </div>
        <!-- END: Content -->
    </div>

</div>

@section Scripts {

<script src="/js/updatePassword.js"></script>

}