@{
    this.ViewData["Title"] = Routers.Category.Title;
    var user = (User)this.ViewData["user"];
}
@*
    public string name { get; set; }
    public string email { get; set; }
    public string phone { get; set; }
    public string address { get; set; } *@

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <div class="max-w-sm mt-5 intro-y box">
                <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                    <h2 class="mr-auto text-base font-medium">
                        Update Information
                    </h2>
                </div>
                <form id="updateInformationForm" class="p-5 space-y-4">
                    <div class="space-y-2 preview">
                        @await Html.PartialAsync("../../Components/Form/FormMessage.cshtml")
                        <div>
                            <label>Name</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml", new
                            {Label="Name",
                            Field="name",Type="text", Value=user.Name})
                        </div>
                        <div>
                            <label>Email</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="Email",
                            Field="email",Type="text", Value=user.Email})
                        </div>
                        <div>
                            <label>Phone</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="Phone",
                            Field="phone",Type="text", Value=user.Phone})
                        </div>
                        <div>
                            <label>Address</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="Address",
                            Field="address",Type="text", Value=user.Address})
                        </div>

                    </div>

                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml","Update Information")
                </form>


            </div>
        </div>
        <!-- END: Content -->
    </div>

</div>

@section Scripts {

<script src="/js/updateInformation.js"></script>

}