@{
    ViewData["Title"] = Routers.UpdatePassword.Title;
    var oldPassword = new FormField() { Label = "Old Password", Field = "oldPassword", Type = "password" };
    var newPassword = new FormField() { Label = "New Password", Field = "newPassword", Type = "password" };
    var updatePasswordBtn = new FormField() { Label = "Update Password" };
    var confirmNewPassword = new FormField()
    {
        Label = "Confirm New Password",
        Field = "confirmNewPassword",
        Type = "password"
    };
}



<div class="flex items-center justify-center flex-1 ">
    <form method="post" action="@Routers.UpdatePassword.Link"
        class="flex-1 px-4 py-16 mx-2 space-y-8 bg-white rounded-md shadow-lg md:mx-0 md:w-96 bg-opacity-90 md:flex-none fade-in">
        <h1 class="text-4xl font-semibold text-center">Change Password</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div class="space-y-4">
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", oldPassword)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", newPassword)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", confirmNewPassword)
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", updatePasswordBtn)
    </form>
</div>