@{
    this.ViewData["Title"] = Routers.Category.Title;
    var categories = (List<Category>)this.ViewData["categories"];
}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6 ">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <div class="mt-5 intro-y box">
                <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row">
                    <h2 class="mr-auto text-base font-medium">
                        Category Manager
                    </h2>

                </div>
                <div class="p-5" id="hoverable-table">
                    <div class="preview">
                        <div class="overflow-x-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Category ID
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Name
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Description
                                        </th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Stauts</th>
                                        <th class="border border-b-2 dark:border-dark-5 whitespace-nowrap">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in categories)
                                    {

                                        var link = $"{Routers.UpdateCategory.Link}?categoryId={item.CategoryId}";

                                        <tr class="hover:bg-gray-200">
                                            <td class="border">@item.CategoryId</td>
                                            <td class="border">@item.Name</td>
                                            <td class="border">@item.Description</td>
                                            <td class="border">
                                                @await Html.PartialAsync("../../Components/Table/Status.cshtml", item.Status
                                            == CategoryStatus.ACTIVE )
                                            </td>
                                            <td class="border">
                                                <a href="@link" class="mb-2 mr-1 btn btn-primary"> <i data-feather="edit"
                                                    class="w-5 h-5"></i> </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Content -->
    </div>

</div>