@{
    ViewData["Title"] = Routers.CreateCategory.Title;
    var name = new FormField() { Label = "Category Name", Field = "name", Type = "text" };
    var descirption = new FormField() { Label = "Description", Field = "description", Type = "text" };
    var createBtn = new FormField() { Label = "Create Category" };
}

<div class="flex items-center justify-center flex-1 ">
    <form method="post" action="@Routers.CreateCategory.Link"
        class="flex-1 px-4 py-16 mx-2 space-y-8 bg-white rounded-md shadow-lg md:mx-0 md:w-96 bg-opacity-90 md:flex-none fade-in">
        <h1 class="text-4xl font-semibold text-center">Create Category</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div class="space-y-4">
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", descirption)
            <div class="flex items-center space-x-2">
                <label class="font-medium">Status: </label>
                @Html.RadioButton("status", 1, true)<span>Active </span>
                @Html.RadioButton("status", 0)<span>Inactive</span>
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", createBtn)
    </form>
</div>