@{
    this.ViewData["Title"] = Routers.Category.Title;

}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        @await Html.PartialAsync("../../Components/Navbar/NavbarSide.cshtml")
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <div class="max-w-sm mt-5 intro-y box">
                <div class="flex flex-col items-center p-5 border-b border-gray-200 sm:flex-row dark:border-dark-5">
                    <h2 class="mr-auto text-base font-medium">
                        Create Category
                    </h2>
                </div>
                <form id="createCategoryForm" class="p-5 space-y-4">
                    <div class="space-y-2 preview">
                        @await Html.PartialAsync("../../Components/Form/FormMessage.cshtml")
                        <div>
                            <label>Name</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml", new
                            {Label="Category Name",
                            Field="name",Type="text", Value=""})
                        </div>
                        <div>
                            <label>Description</label>
                            @await Html.PartialAsync("../../Components/Form/TextField.cshtml",new
                            {Label="Description",
                            Field="description",Type="text", Value=""})
                        </div>
                        <div>
                            <label>Status</label>
                            <div class="flex flex-col mt-2 sm:flex-row">
                                <div class="mr-2 form-check">
                                    <input id="radio-switch-4" class="form-check-input" type="radio" name="status"
                                        value="1" checked="checked">
                                    <label class="form-check-label" for="radio-switch-4">Active</label>
                                </div>
                                <div class="mt-2 mr-2 form-check sm:mt-0">
                                    <input id="radio-switch-5" class="form-check-input" type="radio" name="status"
                                        value="0">
                                    <label class="form-check-label" for="radio-switch-5">Inactive</label>
                                </div>

                            </div>
                        </div>
                    </div>

                    @await Html.PartialAsync("../../Components/Form/FormBtn.cshtml","Create Category")
                </form>


            </div>
        </div>
        <!-- END: Content -->
    </div>

</div>

@section Scripts {

<script src="/js/createCategory.js"></script>

}