@{
    ViewData["Title"] = Routers.UpdateCategory.Title;
    Category category = (Category)ViewData["category"];

    var name = new FormField()
    {
        Label = "Category Name",
        Field = "name",
        Type = "text",
        Value = category.Name
    };
    var descirption = new FormField()
    {
        Label = "Description",
        Field = "description",
        Type = "text",
        Value = category.Description
    };


    var createBtn = new FormField() { Label = "Update Category" };

    var actionLink = $"{Routers.UpdateCategory.Link}?categoryId={category.CategoryId}";
}



<div class="flex items-center justify-center flex-1 ">
    <form method="post" action="@actionLink"
        class="flex-1 px-4 py-16 mx-2 space-y-8 bg-white rounded-md shadow-lg md:mx-0 md:w-96 bg-opacity-90 md:flex-none fade-in">
        <h1 class="text-4xl font-semibold text-center">Update Category</h1>
        @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
        <div class="space-y-4">
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", name)
            @await Html.PartialAsync("~/Views/Components/Form/TextFiled.cshtml", descirption)
            <label class="font-medium">Status: </label>
            @Html.RadioButton("status", 1, true)<span>Active </span>
            @Html.RadioButton("status", 0)<span>Inactive</span>
        </div>
        @await Html.PartialAsync("~/Views/Components/Form/FormBtn.cshtml", createBtn)
    </form>
</div>