<div class="text-center">
    @await Html.PartialAsync("~/Views/Components/Form/FormMsg.cshtml")
    <a href="/product/create">create</a>
    <a href="/product/update?productId=477e4029-5784-4635-881b-cf5b2256aba9">update</a>
    <br>
</div>
